

body {
  background: rgba(147, 164, 178, 0.47);
  font-family:monospace;
}



.box-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  width: 540px;
  height: 400px;
  margin: 60px auto;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  
}
.city {padding-top: 10px;
font-size: 30px;
}
.search-input{
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  width: 30%;
  border-radius: 3px;
}

.search-button {
  
  margin-left: 5px;
  font-size: 16px;
  font-family: monospace;
  background-color:#f9f7fe;
  border: none;
  padding: 11px;
  line-height: 1;
  border-radius: 3px;
}

.current-city {
  color:black;
  font-size: 60px;
  font-weight: lighter ;
}

.current-temperature-value{ color: rgb(12, 11, 11);
  font-size: 40px;text-align: center;
}

.weather-details {
  color: rgba(9, 21, 15, 0.4);
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  
}


.weather-icon {
  margin-top: -45px;
  position:relative;
  width: 180px;
}

  
.weather-app-unit{
  font-size: 30px;
  position: relative;
  top: -15px;
}

footer 
{ font-size: 10px;
  text-align: center;
  margin-top: 28px;

}
