

body {

background-image:url("https://images.pexels.com/photos/5326909/pexels-photo-5326909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-size:cover;
background-repeat: no-repeat;
font-family:monospace;

}

.box-app {
  background:antiquewhite ;
  opacity: 0.8;
  width: 540px;
  height: 500px;
  margin: 60px auto;
  border-color:lightgrey ;
  border-style:solid;
  border-radius: 7px;
  padding: 10px;
}
  

.weather-container{
  text-align: center;
}


.city {font-size: 30px; text-align: center;
}
.search-input{
  margin-left: 140px;
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  width: 30%;
  border-radius: 3px;
}

.search-button {
  
  margin-left: 5px;
  font-size: 16px;
  font-family: monospace;
  background-color: rgb(232, 237, 242);
  border: none;
  padding: 11px;
  line-height: 1;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #f3f1f8;
  transition:all 200ms ease-in-out;
}

.search-button:hover{

  background: ghostwhite;
  border: none;
  line-height: 1 ;
  cursor: pointer;
}


.current-temperature-value{
  font-size: 30px;
  text-align: center;
}

.icon{
  
  text-align: center;
  font-size: 90px;
}

.weather-app-unit{
  text-align: center;
  font-size: 30px;
  top: -15px;
}


.time{ text-align: center;}


.weather-app-details{

  text-align: center;
}





.weather-forecast {
display:flex;
justify-content: space-around;
margin-top: 25px;
margin-bottom: 10px;
text-align: center;

}


.weather-forecast-date{
font-size: 20px;
font-weight:bold;

}


.weather-forecast-temperatures{

  font-size: 16px;


}


 .weather-forecast-icon{
  height: 60px;
 }



footer { 
  
  font-size: 10px;
  text-align: center;
  margin-top: 50px;

}
